    
</form>
<table>
  <h2>Our first simple Calculator</h2>
  <h3>Welcome!</h3>
  
  <div class="row">
  <div class="column" >
    <h2>Please enter your first number</h2>
    <p><input type="number" name="num1" min="1"><br></p>
  </div>
  <div class="column" >
  
      <div class= "row">
    <div class = "column">
    <div class="operator">
      <h2>Please select operator</h2>
      
   </div>
  
   <div class = "column">
    <div class="operator">
      <label for="operator">Choose an operator:</label>
  
      <select name="operator" id="operator">
        <option value="ADD">ADD</option>
        <option value="SUBTRACT">SUBTRACT</option>
        <option value="MULTIPLY">MULTIPLY</option>
        <option value="MODULO">MODULO</option>
        <option value="POWER_OF">POWER_OF</option>
      </select>
    </div>
  </div>
  <div class="row">
      <div class="column" >
        <h2>Please enter your second number</h2>
        <p><input type="number" name="num2" min="1"><br></p>
      </div>
      <div class="column" >
      
       
    
  
  <input type="submit" />
  </div>
  </div>
  </form>
  <table>
  
  
  
  </form>
  
  <b>Your Answer is</b> 
  
  
  
  {% endblock %}