<!DOCTYPE html>
<html lang="en">
<body>

<form>
    <label for="firstNumber">Please enter your first Number:</label>
    <input type="number" id="firstNumber" name="firstNumber" min="1" >
</form>

<div class="Operator">
    <button onclick="myFunction()" class="dropbtn">Choose an Operator</button>
    <div id="myDropdown" class="dropdown-content">
        <select name="operator" id="operator">
            <option value="add">ADD</option>
            <option value="subtract">SUBTRACT</option>
            <option value="multiply">MULTIPLY</option>
            <option value="modulo">MODULO</option>
            <option value="power_of">POWER_OF</option>
          </select>
    </div>
  </div>




<form>
    <label for="secondNumber">Please enter your Second Number Number:</label>
    <input type="number" id="secondNumber" name="secondNumber" min="1" >
</form>
  
</body>
</html>
