<!DOCTYPE html>
<html lang="en">
</head>
<title></title>
<body>

<form> 
    <label for="firstNumber">Please enter your first Number:</label>
    <input type="number" id="firstNumber" name="firstNumber" min="1" > 
    
    <br />
    <br />

    <div class="operator">
        <button onclick="myFunction()" class="dropbtn">Choose an Operator</button>
        <div id="myDropdown" class="dropdown-content">
            <select name="operator" id="operator">
                <option value="addNumbers">ADD</option>
                <option value="subtractNumbers">SUB</option>
                <option value="multiplyNumbers">MULT</option>
                <option value="modulusNumbers">MOD</option>
                <option value="NumbertoPower_of">POWER_OF</option>
            </select>
        </div>
    </div>

    <br />

    <label for="secondNumber">Please enter your Second Number :</label>
    <input type="number" id="secondNumber" name="secondNumber" min="1" > 
    
    <br />

<p><input type="submit" value="Process"></p>


{% if {{res}} != "notvalid" %}
    <p> Your answer is {{res}}</p>
{% else %}
    <p> Please enter the fields right</p>
{% endif %}

</form>

</body>
</html>
